doctype html
html
  head
    title Skill Tree
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body
    .title
      .title-img
        img(src="images/img_planet@2x.png", alt="")
      .title-content
        h1 介面設計師轉職之路
        h2 UI Designer Road Map

    .skills
      .skill-container
        .skill-row
          .skill.selected
            img(src="images/img_blade-1@2x.png", alt="")
            span 設計規範
          .skill.init
            img(src="images/img_meat@2x.png", alt="")
            span 爬梳乾貨
        .skill-row
          .skill.unlocked
            img(src="images/img_shield@2x.png", alt="")
            span UX思維
          .skill.unlocked
            img(src="images/img_hat@2x.png", alt="")
            span 設計思考
          .skill.unlocked
            img(src="images/img_horn@2x.png", alt="")
            span 心理學
      .skill-container
        .skill.unlocked
          img(src="images/img_hammer@2x.png", alt="")
          span 線框稿
      .skill-container
        .skill-row
          .skill.unlocked
            img(src="images/img_illustration@2x.png", alt="")
            span 插畫
          .skill.unlocked
            img(src="images/img_color@2x.png", alt="")
            span 配色
        .skill-row
          .skill.unlocked
            img(src="images/img_sense@2x.png", alt="")
            span 美感
          .skill.unlocked
            img(src="images/img_text@2x.png", alt="")
            span 文案
        .skill-row
          .skill.unlocked
            img(src="images/img_inspiration@2x.png", alt="")
            span 靈感
          .skill.unlocked
            img(src="images/img_pictures@2x.png", alt="")
            span 圖庫
      .skill-container
        .skill.unlocked
          img(src="images/img_axe@2x.png", alt="")
          span UI設計
      .skill-container
        .skill-row
          .skill.unlocked
            img(src="images/img_book@2x.png", alt="")
            span 標註
          .skill.unlocked
            img(src="images/img_quill@2x.png", alt="")
            span 略懂開發
        .skill-row
          .skill.unlocked
            img(src="images/img_blade@2x.png", alt="")
            span 原型
          .skill.unlocked
            img(src="images/img_sword@2x.png", alt="")
            span 出師
        .skill-row
          .skill.unlocked
            img(src="images/img_timer@2x.png", alt="")
            span 版本控制
          .skill.unlocked
            img(src="images/img_emblem@2x.png", alt="")
            span 厚黑學

    .description
      img(src="images/img_monocat@2x.png", alt="")
      .description-box
        .description-img
          img(src="images/img_axe@2x.png", alt="")
        .description-info
          .description-title UI設計
          .description-text 終於進入到介面設計的環節啦！前面的些準備及技巧，都是為了在這一階段能有更精彩的表現，坦白說現在的 UI 設計軟體的操作愈做愈簡單，功能也幾乎愈來愈像，挑一款適合你的工具就可以囉。

    .footer
      img(src="images/img_footer@2x.png", alt="")
      img.rocket(src="images/img_rocket@2x.png", alt="")
    
    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")